:root {

    --section-gap: 8rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75 );

    --gap-xl: 4rem;
    --gap-l: 3rem;
    --gap-m: 2rem; 
    --gap-s: 1rem;

    --border-radius: 0px;

    --color-dark: rgb(23, 23, 23);
    --color-dark-200: rgb(48, 48, 48);
    --color-dark-300: rgb(74, 74, 74);
    --color-dark-400: #636363;
    --color-dark-500: #7d7d7d;
    --color-dark-600: hsl(0, 0%, 59%);
    --color-dark-700: hsl(0, 0%, 69%);
    --color-dark-800: hsl(0, 0%, 79%);
    --color-dark-900: hsl(0, 0%, 89%);

    --color-accent: #f8cb72;
    --color-accent-200: hsl(40, 90%, 74%);
    --color-accent-300: hsl(40, 90%, 78%);
    --color-accent-400: hsl(40, 90%, 82%);
    --color-accent-500: hsl(40, 90%, 86%);
    --color-accent-700: hsl(40, 90%, 90%);
    --color-accent-800: hsl(40, 90%, 92%);
    --color-accent-900: hsl(40, 90%, 94%);

    --color-light: #f1f1f1;
    --color-light-200: hsl(0, 0%, 85%);
    --color-light-300: hsl(0, 0%, 75%);
    --color-light-400: hsl(0, 0%, 65%);
    --color-light-500: hsl(0, 0%, 55%);
    --color-light-600: hsl(0, 0%, 45%);
    --color-light-700: hsl(0, 0%, 35%);
    --color-light-800: hsl(0, 0%, 25%);
    --color-light-900: hsl(0, 0%, 15%);

    --font-sans: 'arboria', sans-serif;
    --font-serif: 'mencken-std', serif;
    --font-serif-compressed: 'mencken-std-head-compress';

    --line-height: 1.5;

    --font-scale: 1.25;
    --font-size: 1rem;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) ); //20 
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) ); //25
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) ); //31,25
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) ); //39
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) ); //48,75
    --font-size-7: calc( var(--font-size-6) * var(--font-scale) ); //61
    --font-size-8: calc( var(--font-size-7) * var(--font-scale) ); //76,2

    --page-width: 78rem;
    --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(32px, 1fr) [full-end]

}       