body {
    font-family: var(--font-sans);
}

h2, h3, h4, h5, h6 {
    
}

h1 {
    font-family: var(--font-serif-compressed);
}

h2 {
    font-family: var(--font-sans);
    font-size: var(--font-size-8);
    font-weight: 400;
}

h3 {
    font-family: var(--font-serif);
    font-size: var(--font-size-6);
    font-weight: 400;
}

h4 {

}

h5 {

}

h6 {

}

p {
    line-height: var(--line-height);
    font-size: var(--font-size-3);
    font-weight: 300;
}

a {
    color: var(--color-dark);
    text-decoration: none;
    line-height: var(--line-height);
    &:hover {
        color: var(--color-accent);
    }
    font-size: var(--font-size-3);
}

li {
    line-height: var(--line-height);
}