@use '../utilities/responsive';

.footer {
    display: grid;
    height: 19rem;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-dark);

    @include responsive.max(880px) {
        height: 15rem;
    }

    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
            font-size: var(--font-size-1);
            color: var(--color-dark-500);
        }
    }
}